<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>83989420510-ieki041j77iggepfhjfv6r9lik23q069.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83989420510-ieki041j77iggepfhjfv6r9lik23q069</string>
	<key>API_KEY</key>
	<string>AIzaSyCl8WBAxAJetflDSGTHiVy7nkbHQgVyf1w</string>
	<key>GCM_SENDER_ID</key>
	<string>83989420510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uberhack.solution</string>
	<key>PROJECT_ID</key>
	<string>uberhack-1524345650165</string>
	<key>STORAGE_BUCKET</key>
	<string>uberhack-1524345650165.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83989420510:ios:fc9abd4750038ba2</string>
	<key>DATABASE_URL</key>
	<string>https://uberhack-1524345650165.firebaseio.com</string>
</dict>
</plist>